<!DOCTYPE html>
<html style="overflow: hidden;" lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="../javascripts/bootstrap.min.js"></script>
  <script>
    var markers = [];

    function initMap() {
      var brotas = {
        lat: -12.9626002,
        lng: -38.4705724
      };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: brotas
      });

      map.addListener('click', function (event) {
        deleteMarkers();
        addMarker(event.latLng);
      });

      var marker = new google.maps.Marker({
        position: brotas,
        map: map
      });
      markers.push(marker);

      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        markers.push(marker);
      }

      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      function clearMarkers() {
        setMapOnAll(null);
      }

      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }

    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvLXvq_MZR-Zoa8zqvYY2VrvsdVESjoHM&callback=initMap" async
    defer></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div id="inputForm" style="height: 100vh;overflow-y: scroll;" class="col-2">
        <form>
          <div class="form-group">
            <label for="exampleSelect1">Categoria</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Insira o arquivo</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
          </div>
          <fieldset class="form-group">
          </fieldset>
          <div class="form-check">
            <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div style="height: 100vh" id="map" class="col-10"></div>
    </div>
  </div>

</body>

</html>